.completed-tasks {
    margin-top: 20px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .task-item__check {
    margin-right: 10px;
  }
  
  .task-item__description {
    flex: 1;
  }
  
  .delete-icon {
    cursor: pointer;
    color: red;
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    padding: 0;
  }
  